mat-toolbar {
    font-size: 3em;
    color: aliceblue;
    background-color: rgb(8, 8, 30);
    height: 15vh;
    padding-left: 37%;
}

nav {
    background-color: rgb(8, 8, 30);
    padding-left: 39%;
}

a {
    color: aliceblue;
    text-align: center;
    font-size: 1.5em ;
}